/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color:#374962;
  color: #FFFFFF;
  display: block;
  float:left;
  flex-direction: column;
  align-items: top;
  width: 20vw;
  z-index: 3;
  height: 94vh;
  border: 2px solid #07272c;
  }

  .lista{
    list-style: none;
    justify-content: center;
    display: flex;
  }
  .lista h3{
  
    padding: 0px 0px 30px 0px;
  }
  
  .lista a{
    text-decoration: none;
    color: #EBEBEB;
  }

.dash {
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 50px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.btns-dash {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #02021b;
}

.btn-white {
  color: #02021b;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
 
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  /* width: 100vw; */
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  background-color:#374962;
  color: #FFFFFF;
  display: block;
  float:left;
  flex-direction: column;
  align-items: top;
  width: 20vw;
  z-index: 3;
  height: 94vh;
  border: 2px solid #07272c;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #32b9cd;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}





.sidebar {
  position: fixed;
  top: 0;
  left: -290px;
  width: 250px;
  height: 100%;
  background-color: #02021b;
  color: white;
  padding: 2rem 1rem;
  transition: left 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  left: 0;
}

.sidebar h1 {
  color: #ffffff;
  margin-bottom: 2rem;
  text-align: center;
}

.sidebar .btn-nav1,
.sidebar .btn-nav-white,
.sidebar .btn-logout {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}



.sidebar .btn-nav-white {
  background-color: #02021b;
}

.sidebar .btn-logout {
  background-color: #000a68;
  border-radius: 10px;
}

.sidebar .btn-nav1:hover,
.sidebar .btn-nav-white:hover,
.sidebar .btn-logout:hover {
  background-color: #5b32cd;
  color: #02021b;
}

.sidebar .btn-nav-white a {
  color: white;
  text-decoration: none;
}

.sidebar .btn-nav1 a{
  color: white;
  text-decoration: none;
}

.sidebar .btn-nav-white a:hover {
  color: #02021b;
}

.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger .bar {
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 0.3s;
}


main {
  padding: 20px;
}

.noticias {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.noticia {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 700px;
  margin-left: 35%;
}

.noticia img {
  width: 100%;
  height: auto;
}

.noticia .conteudo {
  padding: 20px;
}

.noticia h2 {
  margin-top: 0;
}

.noticia p {
  line-height: 1.6;
}

.noticia a {
  display: inline-block;
  margin-top: 10px;
  color: #0066cc;
  text-decoration: none;
  border-bottom: 1px solid #0066cc;
  transition: color 0.3s, border-bottom-color 0.3s;
}

.noticia a:hover {
  color: #004499;
  border-bottom-color: #004499;
}


#grafico{
  display: flex;
  justify-content: space-between;
  margin-left: 280px;
 
}

 .qtd{
  color: white;
  justify-content: center;
  margin-left: 8px;
}

.refazer h5 {
  text-decoration: none;
  color: white ;

  margin-left: 50%;
  margin-top: 15%;
  font-size:larger;
}

.refazer h5:hover {
  color: rgb(101, 101, 186); /* Cor do link ao passar o mouse */
}

.refazer a{
  text-decoration: none;
}

#tituloRanking{
  color: white;
  margin-left: 85vh;
}

#ranking{
  margin-left: 20vh;
}