



@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #02021b;
  background-image: url('../imagens/fundof1.jpg');
}

.quiz{
  background-image: url(../imagens/fundo-largada.jpg);
}


:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  
}

.header {
  background-color: #02021b;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 230px;
  height: 110px;
  margin-left: 20px;
}

.agora {
  font-weight: 800;
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.navbar li {
  margin-right: 20px;
  
}

.navbar a {
  color: #fff;
  text-decoration: none;
  
}

#selecionar {
  color: #fff;
  background-color: #02021b;
  border: none;
}

.cadastro-login {
  margin-right: 20px;
  
  
  
}

.cadastro-login a {
  color: #fff;
  padding: 10px 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  text-decoration: none;
  
}

.cadastro-login a:hover {
  background-color: #fff;
  color: #02021b;
  list-style: none;
}

.linha-header {
  border: none;
  border-bottom: 2px solid #fff;
  margin-top: 110px;
  opacity: 40%;

}

.titulo {
  color: #32b9cd;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

 /*MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: #32b9cd;
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
 /* background-image: url('../assets/imgs/bg-jelly-fish-para-home.png'); */
  background-size: cover;
  height: 530px;
  
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  background-color: #dad0d0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color:#060645;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

span{
  text-align: center;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #02021b;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #02021b;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #02021b ;
  width: 120px;
  height: 30px;
  align-self: center;
 
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}


.autor-container {
  padding: 20px;
  text-align: center;
  
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.497);
  border: 2px solid;
}

.autor-container h2 {
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.autor-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.autor-foto {
  border-radius: 10px;
  width: 200px;
  height: auto;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  border: 2px solid white;
  
}

.autor-info {
  max-width: 600px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.autor-info h3 {
  color: #02021b;
  margin-bottom: 10px;
}

.autor-info p {
  color: #333;
  margin: 10px 0;
}


.quiz-container {
  margin: 100px auto 50px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #1c1c3c;
  border-radius: 10px;
 
}

.quiz-container h1 {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.quiz-question {
  margin-bottom: 20px;
}

.quiz-question p {
  margin-bottom: 10px;
  color: wheat;
}

.quiz-question label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

.quiz-question input[type="radio"] {
  margin-right: 10px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #f1c40f;
  border: none;
  border-radius: 5px;
  color: #02021b;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #e2b607;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}